spring:
  application:
    name: eureka-service-discovery
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

server:
  port: 8761

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      # ⬇️ Se quiser manter essa configuração, mas normalmente não precisa
      defaultZone: http://localhost:8761/eureka/
